@font-face {
  font-family: 'Aptos';
  src: url('assets/aptos-font/aptos.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: hsl(36, 35%, 84%);
  font-family: 'Aptos', Helvetica, Arial, sans-serif;
  margin: 0px;
  font-size: 1.2rem;
}

body > header {
  background-color: orange;
  display: flex;
  height: 156px;
  align-items: center;
  justify-content: space-around;
}

#nav-ul {
  display: flex;
}

#nav-ul > li {
  padding: 8px;
  margin: 16px;
}

body > header > nav > ul {
  list-style: none;
  text-decoration: none;
}

.navbutton {
  color: white;
  text-decoration: none;
  padding: 12px;
  border: 1px solid white;
  border-radius: 6px;
}

body > main article {
  width: 70%;
  margin: auto;
}

#main-content {
  display: flex;
  justify-content: space-around;
}

#main-content > div {
  width: 70%;
}

form {
  text-align: center;  
}

h2 {
  text-align: center;
}

body > footer {
  background-color: orange;
  display: flex;
}

#logo {
  margin: 0px;
  padding: 2px;
  font-family: 'Fredoka One', 'Aptos';
  color: white;
  box-shadow: 6px 6px 1px 2px darkorange;
  width: 14rem;
  height: 8.4rem;
  border-radius: 6px;
  text-shadow: 1px 1px 1px black;
}

ul {
  margin: 0px;
}

img {
  border-radius: 5%;
}

#footer-ul {
  display: flex;
}

#footer-ul > div > li {
  margin-left: 20px;
  list-style: none;
}

#footer-ul > div > li > a {
  text-decoration: none;
  color: white;
}